* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9a815e;
}

.image {
    width: 90px;
    height: 90px;
}


.myDiv {
    height: 90vh;
}

.indicator-div {
    width: 250px;
}

.player-choice {
    background-color: #c4c4c4;
    padding: 10px;
    border-radius: 10px;
}

.computer-choice {
    background-color: #c4c4c4;
    padding: 10px;
    border-radius: 10px;
}

.result-animation {
    transform: rotate(-30deg);
    border-radius: 10px;
    padding: 10px;
    background-color: #509454;
    align-items: center;
}

#result-text.color-text {
    color: #e9f2e9 !important;
}